Options -Indexes

RewriteEngine On
RewriteBase /

# blocked /config/database.ini and *.php all file
<FilesMatch "\.(html|php|ini)$">
  Order Deny,Allow
  Deny from all
</FilesMatch>

<Files index.php>
  Order Deny,Allow
  Allow from all
</Files>

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php?$1 [QSA,L]
